#sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  z-index: 10;
  background-color: #242424;
  box-shadow: none;
  padding: 60px 30px 30px;
  .links {
    display: flex;
    flex-direction: column;
      margin-bottom: 30px;
    .link {
      //display: inline-block;
    }
  }
  h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-style: italic;
  }
  ul {
    list-style: none;
    margin-bottom: 15px;
    li {
      margin-bottom: 5px;
    }
  }
  &.active {
    left: 0;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.25);
    button#toggle {
      right: 10px;
      content: "<";
    }
    #router-view {
      left: 300px;
      right: 0;
      width: auto;
    }
  }
  button#toggle {
    position: absolute;
    top: 20px;
    right: -70px;
    content: ">";
    color: #535bf2;
    background-color: transparent;
    padding: 5px 2px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      border-color: transparent;
    }
    &:focus {
      outline: none;
    }
  }
}
