.home {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  align-items: center;
  justify-content: start;
  padding-top: 10vh;
  .content {
    max-width: 664px;
    h1 {
      font-size: 9vw;
      line-height: 1.1;
      @media screen and (max-width:680px) {
        font-size: 3rem;
      }
    }
    h1,
    p {
      margin-top: 2.5rem;
      padding: 0;
    }
    p {
      font-size: 1.4vw;
      @media screen and (max-width:1068px) {
        font-size: 1rem;
      }
    }
    p.subtitle {
       font-size: 2.3vw;
       font-weight: bold;
       @media screen and (max-width:680px) {
         font-size: 1rem;
       }
     }
  }

}
